<app-header></app-header>

<main>
    <form [formGroup]="form">
    <h1>Gêneros</h1>
    <div class="imagem">
        <img src="../../assets/theater 1.png" alt="Triste & Feliz Os Aminimigos">
    </div>
    <div class="Cards">
        <div class="Input">
            <label>Cadastrar</label>
            <input type="text" placeholder="Gênero" formControlName="Genero" name="Genero" required="">
        </div>
        <button type="button"(click)="Enviardados()" *ngIf="cadastrar" >Cadastrar</button>
        <button type="button"(click)="editarDados()" *ngIf="!cadastrar" >Editar</button>
    </div>
    <div class="cardizinho" *ngFor="let item of listaGeneros; index as i;">
        <p>{{item.nomeGenero}}</p>

        <button class="editar"(click)="editar(item)">Editar</button>
        <button class="excluir"(click)="excluirDados(item.id)">Excluir</button>
    </div>
</form>
</main>
