// Rodapé
footer{
    display: flex; 
    background: #F6511D;
    padding: 2%;
    justify-content: center;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    width: auto;
 }
 #Logo-2{
     margin-right: 63px;
 }
 hr{
     background: white;
     color: white;
 }
 #Direitos{
     margin-left: 63px;
     color: white;
 }