<app-header></app-header>

<!-- O Principal -->
<main>
    <h1>Cadastro</h1>
    <br>

    <div id="Cadastro">
        <form [formGroup]="form">

            <!-- Input Nome -->
            <div class="Inpubel">
                <label>Nome</label>
                <br>
                <input type="text" formControlName="nome" name="nome" required="">
            </div>

            <br>

            <!-- Input Email -->
            <div class="Inpubel">
                <label>E-mail</label>
                <br>
                <input type="email" formControlName="email" name="email" required="">
            </div>
            <br>

            <!-- Input Telefone -->
            <div class="Inpubel">
                <label>Telefone</label>
                <br>
                <input type="text" formControlName="telefone" name="telefone" required="">
            </div>
        </form>
        <br>

        <!-- Troca de Botões -->
        <button type="button"(click)="enviarDados()" *ngIf="cadastrar" >Cadastrar</button>
        <button type="button"(click)="editarDados()" *ngIf="!cadastrar" >Editar</button>
    </div>

    <!-- Base de Dados -->
    <div class="cardizinho" *ngFor="let item of listaUsers; index as i;">
        <p>{{item.nome}}</p>
        <p>{{item.email}}</p>
        <p>{{item.telefone}}</p>

        <button class="editar"(click)="editar(item)">Editar</button>
        <button class="excluir"(click)="excluirDados(item.id)">Excluir</button>
    </div>
</main>
