

// O Principal
main{
    width: 100%;
    margin: auto;
    max-width: 1300px;
}

h1{
    display: flex;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
}

label{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

input{
    height: 58px;
    width: 320px;
    border: 1px solid #000000
}

button{
    display: flex;
    background: #F6511D;
    color: white;
    width: 180px;
    height: 58px;
    margin-left: 67px;
    align-items: center;
    justify-content: center;
}

form{
    display: flex;
    justify-content: space-evenly;
}

#Cadastro{
    display: flex;
    flex-direction: column;
}