main{
    width: 100%;
    margin: auto;
    max-width: 1300px;
    font-family: 'Roboto', sans-serif;
}

h1{
    display: flex;
    justify-content: center;
    font-size: 24px;
    margin-bottom: 10px;
}

.test{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.Card{
    display: flex;
    flex-direction: column;
}
.Cards{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}

input{
    width: 400px;
    height: 37px;
    border: 1px solid #000000
}

select{
    width: 400px;
    height: 58px;
    border: 1px solid #000000
}

button{
    height: 58px;
    width: 180px;
    background: #F6511D;
    color: white;
}