main{
    width: 100%;
    margin: auto;
    max-width: 1300px;
    font-family: 'Roboto', sans-serif;
}

h1{
    display: flex;
    justify-content: center;
    font-size: 24px;
    margin-bottom: 10px;
}

.test{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.Card{
    display: flex;
    flex-direction: column;
}
.Cards{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}

input{
    width: 400px;
    height: 37px;
    border: 1px solid #000000
}

select{
    width: 400px;
    height: 58px;
    border: 1px solid #000000
}

button{
    height: 58px;
    width: 180px;
    background: #F6511D;
    color: white;
}
.editar{
    display: flex;
    background: #F6511D;
    color: white;
    border: 2px solid #F6511D;
    height: 35px;
    width: 125px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}

.excluir{
    display: flex;
    background: #41B8D2;
    border: 2px solid #41B8D2;
    height: 35px;
    width: 125px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;

}

p{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    height: 26px;
    width: 114px;
    left: 209px;
    top: 533px;
    border-radius: nullpx;
}

.cardizinho{
    display: flex;
    justify-content: space-around;
    width: 500px;
    height: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: auto;
    border: 1px solid #000000;
    border-radius: 5px;
    align-items: center;
}