<app-header></app-header>

<!-- O Principal -->
<main>
    <h1>Monte sua coletânea de filmes...</h1>

    <div id="PTexto">
        <p>
            Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor
            <br>
            <br>

            Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut eiusmod
            tempor incididunt ut labore aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
            sunt in culpa qui officia deserunt mollit.
            <br>
            <br>
        </p>
    </div>

    <div class="Cards">
        <div id="Card">
            <img src="../../assets/cinema 1.png" alt="Logo de Cinema">

            <h2>
                <br>
                Filmes
                <br>
                <br>
            </h2>

            <p>
                Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut eiusmod
                tempor incididunt ut labore aliquip ex ea commodo consequat.
            </p>
        </div>

        <div id="Card2">
            <img src="../../assets/theater 1.png" alt="Logo de teatro">

            <br>
            <br>
            <h2>Categoria</h2>
            <br>
            <p>
                Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut eiusmod tempor incididunt ut labore  aliquip ex ea commodo consequat.
            </p>
        </div>
    </div>
</main>

